/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  min-height: 70vh;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-group {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #3d3d3d;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.container {
  max-width: 1090px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.font--24 {
  font-size: 24px;
  line-height: 32px;
}

.font--18 {
  font-size: 18px;
  line-height: 28px;
}

.font--17 {
  font-size: 17px;
  line-height: 22px;
}

.font--16 {
  font-size: 16px;
  line-height: 22px;
}

.font--15 {
  font-size: 15px;
  line-height: 20px;
}

.font--14 {
  font-size: 14px;
  line-height: 20px;
}

.font--12 {
  font-size: 12px;
  line-height: 16px;
}

.custom__btn img {
  width: fit-content;
  height: 18px;
}

.auth__social-btns {
  margin-top: 26px;
}

.custom__btn {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: fit-content;
  min-width: 140px;
  height: 28px;
  background: #1a6f3f;
  color: #fff;
  padding: 4px 15px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}

.custom__btn--social {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: none;
  padding: 11px 25px;
  height: 40px;
  background: #efeff4;
  color: #3d3d3d;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.custom__btn--secondary {
  color: #1a6f3f;
  background: #efeff4;
}

.custom__btn--default {
  min-width: 120px;
  height: 36px;
  padding: 4px 15px;
  text-transform: none;
}

.custom__btn--label {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  min-width: 66px;
  height: 33px;
  padding: 8px 16px;
  text-transform: none;
}

.custom__btn--full {
  width: 100%;
}

.custom__btn--center {
  margin-left: auto;
  margin-right: auto;
}

/* Default CSS Code */

/* 

font-family: 'Montserrat', sans-serif;
font-family: "Mulish", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Open Sans", sans-serif;

*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background: #f6f7f9;
  color: #3d3d3d;
}

/* Login Page */

.top__strips {
  display: flex;
  height: 16px;
}

.top__strip {
  background: #6c6c6c;
  flex: 1;
  height: 100%;
}

.top__strip--1 {
  opacity: 0.2;
}

.top__strip--2 {
  opacity: 0.4;
}

.top__strip--3 {
  opacity: 0.6;
}

.top__strip--4 {
  opacity: 0.8;
}

.top__strip--5 {
  opacity: 1;
}

.top__strips-bg {
  height: calc(100vh - 16px);
}

.top__strips-bg .top__strip {
  background: transparent;
  border-right: 1px solid #e4e4e4;
  opacity: 1;
}

.top__strips-bg .top__strip:last-child {
  border-right: 0;
}

.auth-layout {
  position: relative;
}

.auth-area {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: calc(100% - 16px);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form-area {
  width: 100%;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.auth-form {
  padding: 38px 21px;
  background: #fff;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.auth__logo {
  display: block;
  width: 135px;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.auth-form h1 {
  margin-top: 40px;
  text-align: center;
}

.auth__social-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.auth__or {
  color: #cacaca;
  text-align: center;
  margin: 32px 0;
}

.auth-form h2 {
  text-align: center;
}

.auth-form__main {
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.input__style {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 44px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  padding: 8px 0;
}

.input__style--text-area {
  min-height: 88px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  resize: none;
  display: block;
}

.input__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkbox-icon {
  width: 18px;
  height: 18px;
  border: 1px solid #1a6f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.custom-checkbox .checkbox-icon img {
  width: 20px;
  height: 20px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-icon {
  background: #1a6f3f;
}

.checkbox-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #6c6c6c;
}

.checkbox-label a {
  font-weight: 500;
  color: #1a6f3f;
}

.checkbox-label a:hover {
  text-decoration: underline;
}

.auth-checkbox {
  margin-top: 4px;
}

.custom__btn-auth {
  margin-top: 40px;
}

.auth-footer {
  margin-top: 50px;
  text-align: center;
  color: #6c6c6c;
}

.auth-footer a {
  font-weight: 700;
  color: #6c6c6c;
}

.auth-footer a:hover {
  text-decoration: underline;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* Login Page */

/* Dashboard Page */
.dashboard__layout {
  display: flex;
}

.dashboard__content {
  flex: 1;
  position: relative;
  overflow: auto;
}

.main__content-area {
  padding: 32px 40px;
  padding-top: 0;
  margin-top: 100px;
}

.main__content {
  background: #fff;
  padding: 32px;
  min-height: calc(100vh - 164px);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.font--200 {
  font-size: 200px;
  line-height: 1;
}

/* Sidebar */

.dashboard__sidebar {
  width: 100%;
  max-width: 260px;
  background: #3d3d3d;
  padding: 40px 24px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.dashboard__logo {
  width: 89px;
  height: 114px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dashboard__links {
  margin-top: 70px;
}

.dashboard__link {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1;
  padding: 18px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.dashboard__link--active {
  background: #6c6c6c;
  color: #fff;
  font-weight: 700;
}

.dashboard__link img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.dashboard__submenu-links {
  margin-left: 64px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard__submenu-link {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.dashboard__link,
.dashboard__submenu-link {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.dashboard__link:hover,
.dashboard__submenu-link:hover {
  color: #fff;
}

/* Sidebar */

/* Header */

.header {
  padding: 30px 40px;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 260px);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.organisation__name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.organisation__name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.organisation__name p {
  font-weight: 500;
}

.nav__notification {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.nav__user > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbar__right,
.nav__user,
.nav__user-info {
  display: flex;
  align-items: center;
}

.navbar__right {
  gap: 24px;
}

.nav__user {
  gap: 16px;
}

.nav__user-info {
  gap: 4px;
}

.nav__user-info img {
  width: 12px;
  height: 10px;
  object-fit: contain;
}

.nav__user-info p {
  font-weight: 500;
  color: #303030;
}

/* Header */

/* Dashboard Page */

/* Admin Question Page */

.section__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__heading-label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section__desc {
  margin-top: 30px;
}

.section__desc p {
  color: #6c6c6c;
}

.search-area {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.search__input {
  width: 236px;
  height: 42px;
  position: relative;
}

.input__style-search {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 16px;
  padding-right: 40px;
  background: #f1f1f1;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.filter-btn {
  background: #f2f2f2;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.filter-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.search__input-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.5;
  z-index: 99;
}

.search__input-icon img {
  object-fit: contain;
}

.question__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-top: 34px;
}

.question__item {
  background: #f6f7f9;
  padding: 16px 24px;
  display: flex;
  gap: 24px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.question__item-content {
  flex: 1;
}

.edit__btn {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-top: 8px;
}

.question__item-categories {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.question__item-category {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #6c6c6c;
  padding: 3px 11px;
  border: 1px solid #6c6c6c;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

/* Admin Question Page */

/* Admin Activity Page */
.question__items-activity {
  margin-top: 96px;
}

.question__item-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.question__item-title-status {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.question__item-title-status--published {
  color: #1a6f3f;
  border: 1px solid #1a6f3f;
}

.question__item-title-status--draft {
  color: #6c6c6c;
  border: 1px solid #6c6c6c;
}

.question__item-title-status--deprecated {
  color: #eb5757;
  border: 1px solid #eb5757;
}

.question__items-activity .question__item p {
  margin-top: 20px;
}

/* Admin Activity Page */

/* Custom Table */
.custom-table-container {
  margin-top: 32px;
  border: 1px solid #f0f1f3;
  overflow-x: auto;
  scrollbar-width: thin;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
}

.custom-table-container::-webkit-scrollbar {
  width: 8px;
}

.custom-table-container::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 9999px;
}

.custom-table-container::-webkit-scrollbar-track {
  background: transparent;
}

.custom-table {
  min-width: 100%;
  border-collapse: collapse;
}

.custom-thead {
  background-color: #ffffff;
  border-bottom: 1px solid #f0f1f3;
}

.custom-th {
  padding: 16px;
  text-align: left;
  min-width: 200px;
}

.custom-row {
  height: 48px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f1f3;
}

.custom-row.selected {
  background-color: #f6f7f9;
}

.custom-row:last-of-type {
  border-bottom: 0;
}

.custom-td {
  padding: 16px;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #3d3d3d;
}

.custom-cell-content {
  display: flex;
  align-items: center;
}

.custom-cell-content a:hover {
  text-decoration: underline;
}

.custom-header-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #6c6c6c;
}

.custom-table--activities .custom-th:nth-child(2),
.custom-table--activities .custom-td:nth-child(2) {
  width: 22%;
}

.custom-table--activities .custom-th:nth-child(3),
.custom-table--activities .custom-td:nth-child(3) {
  width: 22%;
}

.custom-table--activities .custom-th:nth-child(4),
.custom-table--activities .custom-td:nth-child(4) {
  width: 22%;
}

.status--active {
  color: #1a6f3f;
}

.status--inactive {
  color: #eb5757;
}

/* Custom Table */

/* Custom Accordion */
.ReactCollapse--collapse {
  transition: height 300ms;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -ms-transition: height 300ms;
  -o-transition: height 300ms;
}

.accordion-container {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px 0;
}

.accordion-header__name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.accordion-header__name h3 {
  line-height: 22px;
}

.accordion-header__delete-btn {
  width: 16px;
  height: 16px;
}

.accordion-header__arrow {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.accordion-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 0 16px;
}

.accordion-body {
  border-top: 1px solid #cacaca;
  padding-top: 16px;
  padding: 16px 0;
}

.accordion-body__content {
  background: #f6f7f9;
  padding: 10px 24px;
  padding-bottom: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.accordion-body__header {
  display: flex;
  align-items: center;
}

.accordion-body__header h3 {
  font-family: "Open Sans", sans-serif;
}

.accordion-body__label {
  opacity: 0.5;
  margin-left: 14px;
}

.accordion-body__header .accordion-header__delete-btn {
  margin-left: 62px;
}

.accordion-body__details {
  margin-top: 12px;
}

.accordion-body__details p {
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
}

.accordion-body__details p:last-of-type {
  margin-bottom: 0;
}

.level__rating-area {
  margin-top: 16px;
}

.level__rating-area p {
  font-weight: 500;
}

.level__rating {
  position: relative;
  margin-top: 8px;
  width: 284px;
  height: 8px;
  background: rgba(202, 202, 202, 0.5);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.level__rating-value {
  position: absolute;
  top: 0;
  left: calc(80% - 8px);
  width: 8px;
  height: 8px;
}

.level__rating-value img {
  object-fit: contain;
}

.level__rating--full .level__rating {
  width: 100%;
}

.level__rating--full .level__rating-value {
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.level__rating-value-inner {
  position: relative;
}

.level__rating-value-inner p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1a6f3f;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.level__rating--full {
  margin-bottom: 32px;
}

/* Custom Accordion */

/* Breadcrumb Area */

.breadcrumb__height {
  min-height: 32px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 8px;
}

.breadcrumb-item,
.breadcrumb-item a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.breadcrumb-item a {
  text-decoration: underline;
  color: #1a6f3f;
}

.breadcrumb-item span {
  margin-left: 4px;
}

/* Breadcrumb Area */

/* Modal Area */
.modal-dialog {
  position: relative;
  z-index: 50;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(52, 58, 64, 0.6);
  transition: opacity 0.3s ease-out;
  opacity: 1;
}

.modal-backdrop[data-closed] {
  opacity: 0;
}

.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 50px;
}

.modal-panel {
  background-color: white;
  padding: 32px;
  max-width: 890px;
  width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
  transform: scale(1);
  overflow-y: auto;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.modal-panel[data-closed] {
  opacity: 0;
  transform: scale(0.95);
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__close-btn {
  width: 16px;
  height: 16px;
}

.modal__close-btn img {
  object-fit: contain;
}

.modal__form {
  margin-top: 40px;
}

.modal__form .input__style {
  padding: 0;
  padding-top: 12px;
}

.modal__form .custom__btn {
  margin-top: 40px;
}

.modal-dialog--activity .question__item-title-status--category {
  padding: 6px 8px;
  margin-top: 8px;
  display: inline-block;
}

.modal__header-area p {
  margin-top: 8px;
}

.modal__header-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.modal__header .edit__btn {
  width: 16px;
  height: 16px;
  margin-top: 0;
}

.modal-dialog--activity .accordion-body__header .accordion-header__delete-btn,
.modal-dialog--activity-edit
  .accordion-body__header
  .accordion-header__delete-btn {
  margin-left: 37px;
}

.question__item-title-status--ans-type {
  margin-left: 8px;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px;
}

.question__item-title-status--ans-type img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.add__level-btn-area span {
  flex: 1;
  height: 1px;
  background: #cacaca;
  display: block;
}

.add__level-btn-area {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}

.add__level-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.add__level-btn {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #6c6c6c;
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal-dialog--activity-edit .modal__form {
  margin-top: 16px;
}

.modal-dialog--activity-edit .input__fields {
  gap: 8px;
}

.modal-dialog--activity-edit .accordion-container {
  margin-top: 16px;
}

.modal-dialog--activity-edit .accordion-body .custom__btn--default {
  margin-top: 24px;
}

/* Modal Area */
